<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>------------------------index-------登陆------------------------------------------</p>
    <form name='myForm' action="/input" method="get">
            账号：<input type="text" name="first"><br>
            密码：<input type="text" name="second"><br>
                <input type="submit" name="submit1" value="登陆">
                <input type="submit" name="submit1" value="注册">
    </form>

    
</body>
</html>